@model IEnumerable<Event_Management.Models.UserEvent>

@{
    ViewData["Title"] = "Index";
}

<h1>User status</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.User.FirstName @item.User.LastName
                </td>
                <td>
                    @item.User.Email
                </td>
                <td>
                    @item.Event.Title
                </td>
                <td>
                    @item.Status
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Uninvite" asp-route-id="@item.Id">Uninvite</a>
                </td>
            </tr>
        }
    </tbody>
</table>
