@model IEnumerable<Event_Management.Models.Event>

@{
    ViewData["Title"] = "Index";
}

<h1>All Incoming Events</h1>

@using (Html.BeginForm("Index", "Events", FormMethod.Get))
{
    <p>
        Title: <input type="text" name="searchTitle" value="@ViewData["SearchTitle"]" />
        Date: <input type="date" name="searchDate" value="@ViewData["SearchDate"]" />
        <input type="submit" value="Search" class="btn btn-primary" />
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit |</a>
                        <a asp-action="Details" asp-route-id="@item.Id"> Details |</a>
                        <a asp-action="Delete" asp-route-id="@item.Id"> Delete </a>
                    }
                    else if (User.IsInRole("User"))
                    {
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
